body{
    background-image: url("Assets/2x/mainBackground.png")
}
#start{
    background-image: url("Assets/bg-newgame-screen1x.jpg");
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5% auto;
    border: 5px solid blue;
    max-width: 650px;
    width: 650px;
    height: 650px;
}
.logo{
    display: flex;
    align-self: center;
    padding: 5% 0 0 0;
}
.newbtn{
    display: flex;
    margin: auto;
}
.nasa{
    display: flex;
    justify-content: flex-end;
    color: white;
    align-items: center;
}
.nasa >p{
    font-family: sans-serif;
    font-size: small;
}
#btnend{
    margin: 0 auto;
}
#game{
    margin: 5% auto 0 auto;
    height: 650px;
    width: 650px;
    display:none ;
    justify-content:center;
    border: 5px solid red;
}
canvas{
    align-self: center;
}
#end{
    display: none;
    justify-content: center;
}
#gameover{
    display:none;
    justify-content:center;
    flex-direction: column;
}