#start{
    display: flex;
    justify-content: center;
    margin: auto;
    border: 5px solid red;
    max-width: 650px;
    height: 650px;
}
.btn{
    padding: 0 10px;
    border: 2px solid red;
    border-radius: 5px;
    background-color: blue;
    color: white;
    align-self: center;
}
#btnend{
    margin: 0 auto;
}
#game{
    margin: auto;
    height: 650px;
    width: 650px;
    display:none ;
    justify-content:center;
    border: 5px solid red;
}
#gameover{
    margin: auto;
    height: 650px;
    width: 650px;
    border: 5px solid red;
    background-color: black;
    }
#gameover h1{
    font:bold;
    color:yellow;
    font-family: sans-serif;
    align-self: center;
}
canvas{
    align-self: center;
}
#end{
    display: none;
    justify-content: center;
}
#gameover{
    display:none;
    justify-content:center;
    flex-direction: column;
}